<html lang="en">
<head>
    <!-- Include meta.ejs -->
    <% include ../elements/meta %>
    <!-- Include lib.ejs -->
    <% include ../elements/lib %>
</head>

<header>
    <!-- Include header.ejs -->
    <% include ../elements/header %> 
</header>

<body>
    <!-- Using Carousel as main view -->
    <div id="lifegamer-slide" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#lifegamer-slide" data-slide-to="0" class="active"></li>
            <li data-target="#lifegamer-slide" data-slide-to="1" class></li>
            <li data-target="#lifegamer-slide" data-slide-to="2" class></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Setting wrapper -->
            <!-- #0 -->
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>歡迎加入學生會！</h1>
                        <p>新進部員招生中！</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Join us!</a></p>
                    </div>
                </div>
            </div>
            <!-- #1 -->
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Help me, help you</h1>
                        <p>Collaborate with each other, make your program much better</p>
                    </div>
                </div>
            </div>
            <!-- #2 -->
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Source code available!</h1>
                        <p>You can download it for free!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel's control -->
        <a class="left carousel-control" href="#lifegamer-slide" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="ture"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#lifegamer-slide" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="ture"></span>
            <span class="sr-only">Next</span>
        </a>
</body>
</html>
