html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    background-image: url("ncku.jpg");
    background-color: #000000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 85%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.modal-body,
.modal-header {
    background-color: #ffffff;
    border-radius: 5px;
}
